:root{
  --primary-color: #fff;
  --secundary-color: #85501E;
}

body{
   background-color: #fdfefe;
   margin:0; 
}
img { width: 100%; }

.flex-between{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

header>a{
  color: #fff;
  font-size: 1.5rem;
}

.icon.theme-no-bg{
  color: brown;
}

body>header{
  padding:0px 10px 0px 10px;
  background-color:var(--secundary-color);
  min-height:3rem;
}

.contenedor-productos{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;

}

.contenedor-storage{
   display:grid;
   background-color: #fdfefe;
   position: relative;
}

.contenedor-storage section{
   position: absolute;
   width: 100%;
   bottom:-130px;
   text-align:center;
}
.contenedor-storage section a{
   text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background: #45c155;
  font-weight: 500;
  display: inline-block;
  width: 160px;
  height: 2rem;
  line-height: 2;
}
.contenedor-storage section p{
   font-size: 1.3rem;
}
