img { 
   width: 100%; 
   height:100%;
}

.head-product{
   height:40vh;
   position:relative;
}

.fa-arrow-left{
   position: absolute;
   top:.5rem;
   left:.5rem;
   width:40px;
   height:40px;
   background: blueviolet;
   display: flex;
   justify-content: center;
   align-items:center;
   border-radius:6px;
   color:white;
}

.content-galery{
   display: flex;
   width: 80%; 

   position: absolute;
   bottom:1rem;
   left:10%;
   border-radius:5px;
   overflow: hidden;
   border:1px solid white;
}

.content-galery img {
   height:2.5rem;
}

.body-product{
   display: grid;
   grid-template-columns:1fr 1fr;
   place-items: center;
   padding:10px;
}

.body-product h2{
   grid-column:1/-1;
}
.body-product button{
   grid-column:2/3;
   grid-row:2/4;
   padding:10px;
   height:40px;
}
.body-product p{
   grid-row:4/5;
   grid-column:1/-1;
}
.body-product div{
   grid-row:5/6;
   grid-column:1/2;
}
.body-product section{
   grid-row:5/6;
   grid-column:2/3;
}
.text-categoria{
   margin:0;
}
.total-pagar h3{
   margin-bottom:0;
}
